// fonts
@include font-face('Roboto', '../fonts/Roboto-Regular');
@include font-face('Roboto', '../fonts/Roboto-Bold', bold);
@include font-face('Roboto', '../fonts/Roboto-Light', 300);
@include font-face('Roboto', '../fonts/Roboto-Medium', 500);